$app-typography: mat-typography-config(
  $font-family: 'Open Sans',
  $title: mat-typography-level(24px, 32px, bold)
);

@mixin app-typography($typography: $app-typography) {
  @include mat-base-typography($typography);
  @include mat-card-typography($typography);
  @include mat-select-typography($typography);
  @include mat-form-field-typography($typography);
  @include mat-slide-toggle-typography($typography);
  @include mat-toolbar-typography($typography);
  
  // custom component typography
  @include app-root-typography($typography);
}
